<div class='container'>
  <div class='row well'>
    <h1 id="all_tasks">All Tasks</h1>
  </div>
</div>

<div class='container'>
  <div class='row well'>

    <% @tasks.each do |task| %>
     <table class="table">
        <h4><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h4>

         <a href="/tasks/<%= task.id %>/edit">Edit</a>

         <form action="/tasks/<%= task.id %>" method= "POST" >
          <input type="hidden" name="_method" value="DELETE" >
          <button type="submit" value="delete">Delete</button>
        </form>


      <% end %>
    </div>
  </div>
</div>


<div class='container'>
  <div class='row well'>
    <h4><a href="/">Return to Bret's Task Manager</h4>
     <h4><a href="/tasks/new">Create a New Task</h4>
  </div>
</div>





